.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  /* 35% of total width is of sidebar*/
}

.sidebar_header {
  display: flex;
  justify-content: space-between;
  padding: 1vw;
  /*border-right: 1px solid lightgrey;*/
}

.sidebar_headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw; /*for responsive */
}

.sidebar_headerRight > .MuiSvgIcon-root {
  /* for icons*/
  margin-right: 2vw; /* for responsive */
  font-size: 24px !important;
}

.sidebar_search {
  /*display: flex;
  align-items: center;
  background-color: red;
  height: 3vh;
  padding: 10px;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3vh;
  padding: 1vw;
}

.sidebar_search > form {
  flex: 1;
  display: flex;
}

.sidebar_search > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
  outline: none;
  background: #cdcdcd;
}

.sidebar_search > form > button {
  display: none; /*send by 'enter'*/
}
/*
.sidebar_searchContainer {
  display: flex;
  align-items: center;
  background-color: #cdcdcd;
  width: 100%;
  height: 35px;
  border-radius: 20px;
}

.sidebar_searchContainer > input {
  flex: 1;
  border: none;
  margin-left: 10px;
  background: #cdcdcd;
}

.sidebar_search > form > .MuiSvgIcon-root {
  color: gray;
  padding: 10px;
}*/

.sidebar_chats {
  flex: 1;
  overflow: scroll;
  /*#3b5998;/*#7289DA;/*#4267B28/;/*#7289DA;*/
}
