.sidebarChat {
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}

a {
  text-decoration: none !important;
  color: black;
}

.sidebarChat:hover {
  background-color: #CDCDCD;/*#e8ff7f;/*#c4d37f;/*#7289DA;*/
  color: black;
}

.sidebarChat_info {
  margin-left: 15px;
}

.sidebarChat_info > h2 {
  font-size: 16px;
  margin-bottom: 8px;
}
